body {
	font-color:#333;
	font-family:  "Helvetica Neue";	
	font-size:16px;
	line-height:1.6;
}
.header {
	background-color:whitesmoke;
	border: 1px solid #ddd;
}	
.movie { 
	background-color:whitesmoke;
	border-radius: 10px;
	display: inline-block;
	line-height: 0.6;
	margin-left: 10px;
	margin-top: 12px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	width: 200px;	
 }

 img{
 	height: 200px;
 	margin-left: 10px;
 	width: 150px;
 }

 p{
 	color: gray;
 }

 a{
 	text-decoration: none;
 }